<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="/text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" 
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--===============================================================================================-->
</head>

<style>

    /* Hamburguer menu icon styling */
		.hamburger {
			display: flex;
			flex-direction: column;
			cursor: pointer;
			padding: 10px;
		}
		.hamburger div {
			width: 30px;
			height: 5px;
			background-color: #333;
			margin: 5px 0;
			border-radius: 5px;
			transition: 0.3s;
		}

		/* Sidebar styling */
		.sidebar {
			height: 42%;
			width: 0;
			position: fixed;
			top: 0;
			right: 0;
			background-color: #818181;
			overflow-x: hidden;
			transition: 0.5s;
			padding-top: 60px;
			z-index: 10000;
            border-radius: 10px;
		}
		.sidebar a {
			padding: 8px 10px;
			text-decoration: none;
			font-size: 25px;
			color: #e0dbdb;
			display: block;
			transition: 0.3s;
		}
		.sidebar a:hover {
			color: #f1f1f1;
		}
		.sidebar .closebtn {
			position: absolute;
			top: 0;
			left: 10px;
			font-size: 36px;
			color: #000000;
		}

		/* Show sidebar when active */
		.sidebar.active {
			width: 250px;
		}

.dropdown{
    z-index: 10001;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 10001;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}


    /* Adjusted styling for better visibility */
    .logo-mobile .logo-text {
  font-size: 1.5rem; /* Adjust size as needed */
  font-weight: bold;
  color: #000; /* Change to desired color */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
    .logoNew {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 40px;
	color: #a1d5d2;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #aaa9a9;
        min-width: 160px;
        /* box-shadow: 0px 8px 16px rgba(151, 157, 157, 0.931); */
        z-index: 3000;
        right: 0;
    }
    
    .dropdown-content a {
        color: #000000;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
    }
    
    .dropdown-content a:hover {
        background-color: #c0bfbf;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .header {
        position: relative;
        z-index: 5500;
    }


    </style>
    
    <header class="header-v3">
        <!-- Header desktop -->
        <div class="container-menu-desktop trans-03">
            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop p-l-45">
                    <!-- Logo desktop -->		
                    <a href="#" class="logoNew">
						caseVerse
					</a>

    
                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                        </ul>
                    </div>	
    
                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m h-full">
                        <ul class="main-menu">
                            <% if (user) { %>
                            <div class="dropdown">
                                <li><a href="#">Hello, <%=user.username%></a></li>
                                <div class="dropdown-content">
                                    <a href="/profile">Profile</a>
                                    <a href="/logout">Logout</a>
                                </div>
                            </div>
                            <% } else { %>
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="/login">Log in</a></li>
                            <% } %>
                        </ul>		
    
                        <div class="flex-c-m h-full p-r-25 bor6">
                            <a href="/cart">
                                <div class="icon-header-item cl0 hov-cl1 trans-04 p-lr-11  " >
                                    <i class="fa-solid fa-cart-shopping"></i>
                                   
                                </div>
                                
                            </a>
                            <a href="/wishlist">
                                 <div class="icon-header-item cl0 hov-cl1 trans-04 p-lr-11  " >
                                <i class="fa-regular fa-heart"></i>
                            </a>
                        </div>
    
                
                    </div>
                </nav>
            </div>	
        </div>
    
        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo mobile -->		
            <div class="logo-mobile">
                    <a href="/">
                        <span class="logo-text">Caseverse</span>
                    </a>
                 
            </div>
    
            <!-- Icon header -->
            <!-- <div class="wrap-icon-header flex-w flex-r-m h-full m-r-15">
                <div class="flex-c-m h-full p-r-5">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 " data-notify="2">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </div>
            </div> -->
    
            <!-- Button show menu -->
            <div class="hamburger" onclick="toggleSidebar()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    
        <!-- Sidebar (Hidden by default) -->
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">></a>
      
            <% if (user) { %>
            <a href="/profile">Profile</a>
            <a href="/shop">Shop</a>
            <a href="/cart">Cart</a>
            <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/shop">Shop</a>
                <a href="/signup">Signup</a>
            <a href="/login">Login</a>
            <% } %>
        </div>
    </header>
    
    <script>
        // Function to toggle the sidebar
        function toggleSidebar() {
            var sidebar = document.getElementById("mySidebar");
            sidebar.classList.toggle("active");
        }
    
        // Function to close the sidebar
        function closeSidebar() {
            var sidebar = document.getElementById("mySidebar");
            sidebar.classList.remove("active");
        }
    </script>
    

    </header>
    