<aside class="col-lg-3">
    <nav class="nav nav-pills flex-lg-column mb-4">
        <a class="nav-link "href="/profile">Profile</a>
        <a class="nav-link" href="/address">Addresses</a>
        <a class="nav-link" href="/orders">Orders</a>
        <a class="nav-link" href="/wallet">Wallet</a>
    </nav>
</aside>