<%- include("../../views/partials/user/header") %>
    <style>
        .error-message {
            color: red;
            font-size: 0.875rem;
            margin-top: 0.25rem;
        }

        .is-invalid {
            border-color: red;
        }
    </style>
    <section class="content-main" style="margin-top: 120px;">
        <div class="card mx-auto card-login col-4">
            <div class="card-body">
                <h4 class="card-title mb-4">Email</h4>
                <form method="post" action="/forgotEmailValid" onsubmit="return validateLoginForm()">
                    <div class="mb-3">
                        <input class="form-control" name="email" placeholder="Email" type="text" id="email">
                        <div class="error-message" id="email-error"></div>
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="btn btn-success w-100">Verify</button>
                    </div>
                </form>

                <p class="text-center mb-4">Don't have an account? <a href="/signup">Sign up</a></p>
            </div>
        </div>
    </section>


    <script>
        function validateLoginForm() {
            const emailInput = document.getElementById('email');
            const emailError = document.getElementById('email-error');
            const emailValue = emailInput.value.trim();
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;


            if (emailValue === '') {
                emailError.textContent = 'Please enter your email.';
                emailInput.classList.add('is-invalid');
                return false;
            } else if (!emailValue.match(emailPattern)) {
                emailError.textContent = 'Please enter a valid email address.';
                emailInput.classList.add('is-invalid');
                return false;
            } else {
                emailError.textContent = '';
                emailInput.classList.remove('is-invalid');
                return true;
            }
        }
    </script>

    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <!--===============================================================================================-->
    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>